openapi: 3.0.3
info:
  description: |
    API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.

    В числе возможностей интеграции:

    * управление каталогом товаров и витриной,

    * обработка заказов,

    * изменение настроек магазина,

    * получение отчетов.
  license:
    name: BSD 3-Clause
    url: https://opensource.org/license/bsd-3-clause/
  title: API Яндекс Маркета для продавцов
  version: LATEST
externalDocs:
  description: Документация API
  url: https://yandex.ru/dev/market/partner-api/doc/
servers:
- url: https://api.partner.market.yandex.ru
security:
- ApiKey: []
- OAuth:
  - market:partner-api
paths:
  /v2/businesses/{businessId}/settings:
    post:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getBusinessSettings.md) %}

        Возвращает информацию о настройках кабинета, идентификатор которого указан в запросе.

        {% include notitle [limit](../../_auto/method_limits/getBusinessSettings.md) %}
      operationId: getBusinessSettings
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы его узнать, воспользуйтесь запросом [GET v2/campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        explode: false
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBusinessSettingsResponse"
          description: Настройки кабинета.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: "Запрос содержит неправильные данные. [Подробнее об ошибке\
            ](../../concepts/error-codes.md#400)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Настройки кабинета
      tags:
      - businesses
      - dbs
      - fbs
      - fby
      - express
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 1000
        period: hours
        tariff-resource-limits:
          none:
            amount: 100
            period: hours
            period-duration: 1
          medium:
            amount: 100
            period: hours
            period-duration: 1
      x-apphost:
        domain: BASE
        enabled: false
  /v2/campaigns:
    get:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getCampaigns.md) %}

        **Для Api-Key-токена:** возвращает список магазинов в кабинете, для которого выдан токен. Нельзя получить список только подагентских магазинов.

        **Для OAuth-токена:** возвращает список магазинов, к которым имеет доступ пользователь — владелец токена авторизации, использованного в запросе. Для агентских пользователей список состоит из подагентских магазинов.

        {% note warning "Ограничение для параметра `pageSize`" %}

        Не передавайте значение больше 100.

        {% endnote %}

        {% include notitle [limit](../../_auto/method_limits/getCampaigns.md) %}
      operationId: getCampaigns
      parameters:
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Передавайте значение выходного параметра `nextPageToken`, полученное при последнем запросе.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
        x-transform: token
        x-aliases:
        - pageToken
        - page_token
      - description: |
          {{ limit-param-description }}

          {% note warning %}

          У данного лимита нет значения по умолчанию.

          {% endnote %}
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - deprecated: true
        description: |
          {% note warning "Устаревший параметр" %}

          Вместо `page` и `pageSize` используйте пагинацию по `pageToken` и `limit`.

          [Подробнее о типах пагинации и их использовании](../../concepts/pagination.md)

          {% endnote %}

          Номер страницы результатов.

          Используется вместе с параметром `pageSize`.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 10000
          type: integer
        style: form
      - deprecated: true
        description: |
          {% note warning "Устаревший параметр" %}

          Вместо `page` и `pageSize` используйте пагинацию по `pageToken` и `limit`.

          [Подробнее о типах пагинации и их использовании](../../concepts/pagination.md)

          {% endnote %}

          Размер страницы.

          Используется вместе с параметром `page`.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCampaignsResponse"
          description: Магазины пользователя.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: "Запрос содержит неправильные данные. [Подробнее об ошибке\
            ](../../concepts/error-codes.md#400)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Список магазинов пользователя
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 5000
        period: hours
        tariff-resource-limits:
          none:
            amount: 1000
            period: hours
            period-duration: 1
          medium:
            amount: 1000
            period: hours
            period-duration: 1
      x-apphost:
        domain: BASE
        enabled: false
  /v2/campaigns/{campaignId}:
    get:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getCampaign.md) %}

        Возвращает информацию о магазине.

        {% include notitle [limit](../../_auto/method_limits/getCampaign.md) %}
      operationId: getCampaign
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCampaignResponse"
          description: Информация о магазине.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: "Запрос содержит неправильные данные. [Подробнее об ошибке\
            ](../../concepts/error-codes.md#400)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Информация о магазине
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 5000
        period: hours
        tariff-resource-limits:
          none:
            amount: 5000
            period: hours
            period-duration: 1
          medium:
            amount: 5000
            period: hours
            period-duration: 1
      x-apphost:
        domain: BASE
        enabled: false
  /v2/campaigns/{campaignId}/settings:
    get:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getCampaignSettings.md) %}

        Возвращает информацию о настройках магазина, идентификатор которого указан в запросе.

        {% include notitle [limit](../../_auto/method_limits/getCampaignSettings.md) %}
      operationId: getCampaignSettings
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCampaignSettingsResponse"
          description: Настройки магазина.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: "Запрос содержит неправильные данные. [Подробнее об ошибке\
            ](../../concepts/error-codes.md#400)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Настройки магазина
      tags:
      - campaigns
      - dbs
      - fbs
      - express
      - fby
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 5000
        period: hours
        tariff-resource-limits:
          none:
            amount: 1000
            period: hours
            period-duration: 1
          medium:
            amount: 1000
            period: hours
            period-duration: 1
      x-apphost:
        domain: BASE
        enabled: false
  /v2/campaigns/{campaignId}/orders/{orderId}:
    get:
      deprecated: true
      description: |
        {% include notitle [access](../../_auto/method_scopes/getOrder.md) %}

        Возвращает информацию о заказе в магазине.

        {% note tip "Вы также можете настроить API-уведомления" %}

        Маркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или изменится его статус. А полную информацию можно получить с помощью метода [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).

        [{#T}](../../push-notifications/index.md)

        {% endnote %}

        Получить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).

        {% include notitle [limit](../../_auto/method_limits/getOrder.md) %}
      operationId: getOrder
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Идентификатор заказа.
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrderResponse"
          description: Информация о заказе.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: "Запрос содержит неправильные данные. [Подробнее об ошибке\
            ](../../concepts/error-codes.md#400)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Информация об одном заказе в магазине
      tags:
      - orders
      - fby
      - fbs
      - dbs
      - express
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - communication
      - finance-and-accounting
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        parallel-limit-value: 6
        tariff-resource-limits:
          none:
            amount: 10000
            period: hours
            period-duration: 1
          medium:
            amount: 10000
            period: hours
            period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      x-deprecation-config:
        degradation-start-date: 2027-01-18
        shutdown-date: 2027-04-12
        replacement-operation-id: getBusinessOrders
  /v2/campaigns/{campaignId}/orders:
    get:
      deprecated: true
      description: |
        {% include notitle [access](../../_auto/method_scopes/getOrders.md) %}

        Возвращает информацию о заказах в магазине. Запрос можно использовать для отслеживания заказов и их статусов.

        По умолчанию данные о тестовых заказах не приходят. Чтобы их получить, передайте значение `true` в параметре `fake`.

        {% note tip "Вы также можете настроить API-уведомления" %}

        Маркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или изменится его статус. А полную информацию можно получить с помощью метода [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).

        [{#T}](../../push-notifications/index.md)

        {% endnote %}

        Доступна фильтрация по параметрам:

        * дата оформления заказа;

        * дата и время обновления заказа;

        * дата отгрузки;

        * статусы заказов (`statuses`);

        * этапы обработки или причины отмены (`substatuses`);

        * идентификаторы заказов;

        * тип заказа (настоящий или тестовый).

        Не возвращается информация о заказах, которые доставили или отменили больше 30 дней назад. Как ее получить:

        * [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md);
        * [POST v2/campaigns/{campaignId}/stats/orders](../../reference/stats/getOrdersStats.md).

        Максимальный диапазон дат за один запрос — 30 дней (передается в параметрах `fromDate` и `toDate`). Если их не передать, возвращается информация за последние 30 дней.

        Результаты возвращаются постранично. Для навигации используйте параметры `pageToken` и `limit`.

        Получить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).

        {% include notitle [limit](../../_auto/method_limits/getOrders.md) %}
      operationId: getOrders
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: |
          Фильтрация заказов по идентификаторам.
          <br><br>
          ⚠️ Не используйте это поле одновременно с другими фильтрами. Если вы хотите воспользоваться ими, оставьте поле пустым.
        explode: true
        in: query
        name: orderIds
        required: false
        schema:
          items:
            format: int64
            type: integer
          maxItems: 50
          minItems: 1
          type: array
        style: form
      - description: |
          Статус заказа:

          * `CANCELLED` — заказ отменен.

          * `DELIVERED` — заказ получен покупателем.

          * `DELIVERY` — заказ передан в службу доставки.

          * `PICKUP` — заказ доставлен в пункт выдачи.

          * `PROCESSING` — заказ находится в обработке.

          * `UNPAID` — заказ оформлен, но еще не оплачен (если выбрана оплата при оформлении).

          * `RESERVED` — заказ оформлен, но ожидает подтвеждения от магазина (LaaS).
        explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            $ref: "#/components/schemas/OrderStatusType"
          type: array
          uniqueItems: true
        style: form
      - description: |
          Этап обработки заказа (статус `PROCESSING`) или причина отмены заказа (статус `CANCELLED`).

          Возможные значения для заказа в статусе `PROCESSING`:

          * `STARTED` — заказ подтвержден, его можно начать обрабатывать.
          * `READY_TO_SHIP` — заказ собран и готов к отправке.
          * `SHIPPED` — заказ передан службе доставки.

          Возможные значения для заказа в статусе `CANCELLED`:

          * `RESERVATION_EXPIRED` — покупатель не завершил оформление зарезервированного заказа в течение 10 минут.

          * `USER_NOT_PAID` — покупатель не оплатил заказ (для типа оплаты `PREPAID`) в течение 30 минут.

          * `USER_UNREACHABLE` — не удалось связаться с покупателем. Для отмены с этой причиной необходимо выполнить условия:

            * не менее 3 звонков с 8 до 21 в часовом поясе покупателя;
            * перерыв между первым и третьим звонком не менее 90 минут;
            * соединение не короче 5 секунд.

            Если хотя бы одно из этих условий не выполнено (кроме случая, когда номер недоступен), отменить заказ не получится. Вернется ответ с кодом ошибки 400

          * `USER_CHANGED_MIND` — покупатель отменил заказ по личным причинам.

          * `USER_REFUSED_DELIVERY` — покупателя не устроили условия доставки.

          * `USER_REFUSED_PRODUCT` — покупателю не подошел товар.

          * `SHOP_FAILED` — магазин не может выполнить заказ.

          * `USER_REFUSED_QUALITY` — покупателя не устроило качество товара.

          * `REPLACING_ORDER` — покупатель решил заменить товар другим по собственной инициативе.

          * `PROCESSING_EXPIRED` — значение более не используется.

          * `PICKUP_EXPIRED` — закончился срок хранения заказа в ПВЗ.

          * `DELIVERY_SERVICE_UNDELIVERED` — служба доставки не смогла доставить заказ.

          * `CANCELLED_COURIER_NOT_FOUND` — не удалось найти курьера.

          * `USER_WANTS_TO_CHANGE_DELIVERY_DATE` — покупатель хочет получить заказ в другой день.

          * `RESERVATION_FAILED` — Маркет не может продолжить дальнейшую обработку заказа.
        explode: true
        in: query
        name: substatus
        required: false
        schema:
          items:
            $ref: "#/components/schemas/OrderSubstatusType"
          type: array
          uniqueItems: true
        style: form
      - description: |
          Начальная дата для фильтрации заказов по дате оформления.

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной и конечной датой (параметр `toDate`) должно быть не больше 30 дней.

          Значение по умолчанию: 30 дней назад от текущей даты.
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          Конечная дата для фильтрации заказов по дате оформления.

          Показываются заказы, созданные до 00:00 указанного дня.

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной (параметр `fromDate`) и конечной датой должно быть не больше 30 дней.

          Значение по умолчанию: текущая дата.

          Если промежуток времени между `toDate` и `fromDate` меньше суток, то `toDate` равен `fromDate` + сутки.
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          Начальная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр `shipmentDate`).

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной и конечной датой (параметр `supplierShipmentDateTo`) должно быть не больше 30 дней.

          Начальная дата включается в интервал для фильтрации.
        explode: true
        in: query
        name: supplierShipmentDateFrom
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          Конечная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр `shipmentDate`).

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной (параметр `supplierShipmentDateFrom`) и конечной датой должно быть не больше 30 дней.

          Конечная дата не включается в интервал для фильтрации.

          Если промежуток времени между `supplierShipmentDateTo` и `supplierShipmentDateFrom` меньше суток, то `supplierShipmentDateTo` равен `supplierShipmentDateFrom` + сутки.
        explode: true
        in: query
        name: supplierShipmentDateTo
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          Начальная дата для фильтрации заказов по дате и времени обновления (параметр `updatedAt`).

          Формат даты: ISO 8601 со смещением относительно UTC. Например, `2017-11-21T00:42:42+03:00`.

          Между начальной и конечной датой (параметр `updatedAtTo`) должно быть не больше 30 дней.

          Начальная дата включается в интервал для фильтрации.
        explode: true
        in: query
        name: updatedAtFrom
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Конечная дата для фильтрации заказов по дате и времени обновления (параметр `updatedAt`).

          Формат даты: ISO 8601 со смещением относительно UTC. Например, `2017-11-21T00:42:42+03:00`.

          Между начальной (параметр `updatedAtFrom`) и конечной датой должно быть не больше 30 дней.

          Конечная дата не включается в интервал для фильтрации.
        explode: true
        in: query
        name: updatedAtTo
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Способ отгрузки
        explode: true
        in: query
        name: dispatchType
        required: false
        schema:
          $ref: "#/components/schemas/OrderDeliveryDispatchType"
        style: form
      - description: |
          Фильтрация заказов по типам:

          * `false` — настоящий заказ покупателя.

          * `true` — [тестовый заказ](../../concepts/sandbox.md) Маркета.
        explode: true
        in: query
        name: fake
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Фильтр для получения заказов, в которых есть хотя бы один товар с кодом идентификации в системе [«Честный ЗНАК»](https://честныйзнак.рф/) или [«ASL BELGISI»](https://aslbelgisi.uz) (для продавцов :no-translate[Market Yandex Go]):

          * `true` — да.

          * `false` — нет.

          Такие коды присваиваются товарам, которые подлежат маркировке и относятся к определенным категориям.
        explode: true
        in: query
        name: hasCis
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          **Только для модели DBS**

          Фильтр для получения заказов, по которым был запрос на отмену.

          При значении `true` возвращаются только заказы, которые находятся в статусе `DELIVERY` или `PICKUP` и которые пользователи решили отменить.

          Чтобы подтвердить или отклонить отмену, отправьте запрос [PUT v2/campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation).
        explode: true
        in: query
        name: onlyWaitingForCancellationApprove
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Фильтрация заказов с долгой доставкой (31-60 дней) по подтвержденной дате доставки:

          * `true` — возвращаются только заказы с неподтвержденной датой доставки.
          * `false` — фильтрация не применяется.
        explode: true
        in: query
        name: onlyEstimatedDelivery
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Фильтрация заказов по типу покупателя.
        explode: true
        in: query
        name: buyerType
        required: false
        schema:
          $ref: "#/components/schemas/OrderBuyerType"
        style: form
      - deprecated: true
        description: |
          {% note warning "Устаревший параметр" %}

          Вместо `page` и `pageSize` используйте пагинацию по `pageToken` и `limit`.

          [Подробнее о типах пагинации и их использовании](../../concepts/pagination.md)

          {% endnote %}

          Номер страницы результатов.

          Используется вместе с параметром `pageSize`.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 10000
          type: integer
        style: form
      - deprecated: true
        description: |
          {% note warning "Устаревший параметр" %}

          Вместо `page` и `pageSize` используйте пагинацию по `pageToken` и `limit`.

          [Подробнее о типах пагинации и их использовании](../../concepts/pagination.md)

          {% endnote %}

          Размер страницы.

          Используется вместе с параметром `page`.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Передавайте значение выходного параметра `nextPageToken`, полученное при последнем запросе.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
        x-transform: token
        x-aliases:
        - pageToken
        - page_token
      - description: |
          {{ limit-truncate-param-description }}

          {% note warning %}

          У данного лимита нет значения по умолчанию.

          {% endnote %}
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
        x-transform: truncateLimit
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrdersResponse"
          description: Информация о заказах.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Информация о заказах в магазине
      tags:
      - orders
      - fbs
      - dbs
      - fby
      - express
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - communication
      - finance-and-accounting
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        parallel-limit-value: 6
        tariff-resource-limits:
          none:
            amount: 10000
            period: hours
            period-duration: 1
          medium:
            amount: 10000
            period: hours
            period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      x-deprecation-config:
        degradation-start-date: 2027-01-18
        shutdown-date: 2027-04-12
        replacement-operation-id: getBusinessOrders
  /v1/businesses/{businessId}/orders:
    post:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getBusinessOrders.md) %}

        Возвращает информацию о заказах в кабинете. Запрос можно использовать для отслеживания заказов и их статусов.

        {% note tip "Вы также можете настроить API-уведомления" %}

        Маркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или изменится его статус. А полную информацию можно получить с помощью этого метода.

        [{#T}](../../push-notifications/index.md)

        {% endnote %}

        Доступна фильтрация по параметрам:

        * дата оформления заказа;

        * дата и время обновления заказа;

        * дата отгрузки;

        * статусы заказов (`statuses`);

        * этапы обработки или причины отмены (`substatuses`);

        * идентификаторы кампаний;

        * идентификаторы заказов;

        * внешние идентификаторы заказов;

        * тип заказа (настоящий или тестовый);

        * модели размещения;

        * наличие запросов от покупателей на отмену заказа.

        Максимальный диапазон дат за один запрос — 30 дней (передается в параметрах `fromDate` и `toDate`). Если их не передать, возвращается информация за последние 30 дней.

        Результаты возвращаются постранично. Для навигации используйте параметры `pageToken` и `limit`.

        Получить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).

        {% include notitle [limit](../../_auto/method_limits/getBusinessOrders.md) %}
      operationId: getBusinessOrders
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы его узнать, воспользуйтесь запросом [GET v2/campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        explode: false
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Передавайте значение выходного параметра `nextPageToken`, полученное при последнем запросе.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
        x-transform: token
        x-aliases:
        - pageToken
        - page_token
      - description: |
          {{ limit-truncate-param-description }}
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
        x-transform: truncateLimit
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetBusinessOrdersRequest"
        description: Параметры фильтрации заказов.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBusinessOrdersResponse"
          description: Список заказов в кабинете.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Информация о заказах в кабинете
      tags:
      - orders
      - fbs
      - dbs
      - fby
      - express
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - finance-and-accounting
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 10000
        period: hours
        parallel-limit-value: 6
        tariff-resource-limits:
          none:
            amount: 10000
            period: hours
            period-duration: 1
          medium:
            amount: 10000
            period: hours
            period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
  /v2/campaigns/{campaignId}/orders/{orderId}/identifiers:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/provideOrderItemIdentifiers.md) %}

        {% note warning "Если вы работаете по модели FBS" %}

        Используйте метод [PUT v2/campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).

        {% endnote %}

        Передает Маркету коды маркировки для единиц товара в указанном заказе. Подробнее о работе с маркируемыми товарами читайте в [Справке продавца на Маркете](https://yandex.ru/support/marketplace/orders/cz.html).

        Маркировка товаров в системе [«Честный ЗНАК»](https://честныйзнак.рф/) **необязательна** для заказов от физических лиц, но **обязательна** для заказов от бизнеса.

        Для модели DBS коды маркировки в системе [«Честный ЗНАК»](https://честныйзнак.рф/) не проверяются в ГИС МТ — проверка выполняется только для моделей FBS и Экспресс.

        Принимаются коды следующих типов:

        * Коды в системе [«Честный ЗНАК»](https://честныйзнак.рф/) или [«ASL BELGISI»](https://aslbelgisi.uz) (для продавцов :no-translate[Market Yandex Go]).
        * УИН для ювелирных изделий.
        * РНПТ и ГТД для импортных прослеживаемых товаров.

        Для каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.

        {% include notitle [limit](../../_auto/method_limits/provideOrderItemIdentifiers.md) %}
      operationId: provideOrderItemIdentifiers
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Идентификатор заказа.
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProvideOrderItemIdentifiersRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProvideOrderItemIdentifiersResponse"
          description: "Ответ `200` обозначает, что коды успешно записались. Ответ\
            \ содержит краткие сведения о промаркированных товарах."
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Передача кодов маркировки единиц товара
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        tariff-resource-limits:
          none:
            amount: 10000
            period: hours
            period-duration: 1
          medium:
            amount: 10000
            period: hours
            period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
  /v2/campaigns/{campaignId}/orders/{orderId}/items:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/updateOrderItems.md) %}

        {% note warning "Если вы работаете по модели FBS" %}

        Используйте метод [PUT v2/campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).

        {% endnote %}

        Удаляет один или несколько товаров из заказа, если магазин не может поставить их все.

        Заказ должен находится в статусе `"status": "PROCESSING"` этапа обработки `"substatus": "STARTED"`. Изменить состав нельзя после передачи статуса `"substatus": "READY_TO_SHIP"`.

        {% cut "Уменьшить количество одинаковых товаров" %}

        Передайте обновленное значение в параметре `count`.

        {% endcut %}

        {% cut "Удалить товар из заказа" %}

        Передайте значение `0` в параметре `count` или не передавайте `item`.

        {% endcut %}

        Нельзя удалить или уменьшить количество товара, если он:

        * добавлен по акции;
        * составляет 99% стоимости заказа;
        * единственный товар в заказе.

        В таком случае отмените заказ — в методе [PUT v2/campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.

        ### Как вернутся деньги {#money}

          Если покупатель оплатил товар при оформлении, Маркет вернет ему деньги за удаленные из заказа товары в течение двух дней:

          * при оплате банковской картой — с момента, когда магазин переведет заказ в статус `SHIPPED`;

          * при оплате через :no-translate[Apple Pay] или :no-translate[Google Pay] — с момента, когда магазин удалит товар из заказа.

        {% endcut %}

        {% include notitle [limit](../../_auto/method_limits/updateOrderItems.md) %}
      operationId: updateOrderItems
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Идентификатор заказа.
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrderItemRequest"
        required: true
      responses:
        "200":
          description: Маркет успешно обработал ваш запрос. Выходные данные не ожидаются.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: "Запрос содержит неправильные данные. [Подробнее об ошибке\
            ](../../concepts/error-codes.md#400)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Удаление товаров из заказа или уменьшение их числа
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        parallel-limit-value: 6
        tariff-resource-limits:
          none:
            amount: 10000
            period: hours
            period-duration: 1
          medium:
            amount: 10000
            period: hours
            period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
  /v2/campaigns/{campaignId}/orders/{orderId}/status:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/updateOrderStatus.md) %}

        Изменяет статус заказа. Возможные изменения статусов:

        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.
        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.
        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        Полная информация о статусной модели DBS-заказов: [Как изменяются статусы заказов](../../concepts/dbs-order-status-model.md).

        {% cut "**Как подтвердить LaaS-заказ**" %}

        Для подтверждения черновика заказа передайте статус `"status": "PROCESSING"` с подстатусом `"substatus": "STARTED"`.

        Подтверждение заказа, созданного с параметром `draft` равным `false`, не требуется.

        {% endcut %}

        {% cut "**Как отменить LaaS-заказ**" %}

        Передайте статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        При успешном выполнении запроса отмена произойдет через некоторое время. [Как проверить статус операции](../../reference/operations/getOperations.md)

        {% endcut %}

        {% include notitle [limit](../../_auto/method_limits/updateOrderStatus.md) %}
      operationId: updateOrderStatus
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Идентификатор заказа.
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrderStatusRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrderStatusResponse"
          description: В случае успешного изменения статуса заказа возвращается обновленная
            информация о заказе.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: "Запрос содержит неправильные данные. [Подробнее об ошибке\
            ](../../concepts/error-codes.md#400)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Изменение статуса одного заказа
      tags:
      - orders
      - fbs
      - dbs
      - laas
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        tariff-resource-limits:
          none:
            amount: 10000
            period: hours
            period-duration: 1
          medium:
            amount: 10000
            period: hours
            period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
  /v2/campaigns/{campaignId}/orders/status-update:
    post:
      description: |
        {% include notitle [access](../../_auto/method_scopes/updateOrderStatuses.md) %}

        Изменяет статусы нескольких заказов.

        Возможные изменения статусов:

        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"`и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.
        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.
        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        Полная информация о статусной модели DBS-заказов: [Как изменяются статусы заказов](../../concepts/dbs-order-status-model.md).

        {% cut "**Как подтвердить LaaS-заказ**" %}

        Для подтверждения черновика заказа передайте статус `"status": "PROCESSING"` с подстатусом `"substatus": "STARTED"`.

        Подтверждение заказа, созданного с параметром `draft` равным `false`, не требуется.

        {% endcut %}

        {% cut "**Как отменить LaaS-заказ**" %}

        Передайте статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        При успешном выполнении запроса отмена произойдет через некоторое время. [Как проверить статус операции](../../reference/operations/getOperations.md)

        {% endcut %}

        {% include notitle [limit](../../_auto/method_limits/updateOrderStatuses.md) %}
      operationId: updateOrderStatuses
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrderStatusesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrderStatusesResponse"
          description: Возвращается информация об обновленных статусах заказов.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: "Запрос содержит неправильные данные. [Подробнее об ошибке\
            ](../../concepts/error-codes.md#400)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Изменение статусов нескольких заказов
      tags:
      - orders
      - fbs
      - dbs
      - laas
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp.result.orders
        amount: 100000
        period: hours
        tariff-resource-limits:
          none:
            amount: 10000
            period: hours
            period-duration: 1
          medium:
            amount: 10000
            period: hours
            period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes:
    put:
      deprecated: true
      description: |
        {% include notitle [access](../../_auto/method_scopes/setOrderShipmentBoxes.md) %}

        Отгружаемый Маркету заказ может не влезть в одну коробку или упаковку — в этом случае получается, что он занимает несколько грузовых мест.

        Количество грузовых мест нужно обязательно передавать Маркету, если оно не равно 1. Это делается перед переводом его в статус **Готов к отгрузке**. Подробно о том, что в какой момент нужно передавать, рассказано в [пошаговой инструкции](../../step-by-step/fbs.md).

        Метод устроен немного нестандартно: количество задается длиной массива пустых объектов.

        Раньше метод требовал передачи большего количества данных. Запросы, оформленные по старому образцу, работают, но лучше делать по-новому.

        {% cut "Как было раньше" %}

        Структура тела PUT-запроса:

        ```text translate=no
        {
          "boxes":
          [
            {
              "fulfilmentId": "{string}",
              "weight": {int64},
              "width": {int64},
              "height": {int64},
              "depth": {int64},
              "items":
              [
                {
                  "id": {int64},
                  "count": {int32}
                },
                ...
              ]
            },
            ...
          ]
        }
        ```
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `boxes`       |           | Список грузовых мест.       |

        **Параметры, вложенные в `boxes`**
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `fulfilmentId`       |  :no-translate[String]   | Идентификатор грузового места в системе магазина. Сформируйте идентификатор по шаблону: `номер заказа на Маркете-номер грузового места`. Например, `7206821‑1, 7206821‑2` и т. д. |
        | `weight`       | :no-translate[Int64]        | Масса брутто грузового места (суммарная масса упаковки и содержимого) в граммах. |
        | `width`       | :no-translate[Int64]   | Ширина грузового места в сантиметрах.       |
        | `height`       | :no-translate[Int64]   | Высота грузового места в сантиметрах.       |
        | `depth`       | :no-translate[Int64]   | Глубина грузового места в сантиметрах.        |
        | `items`       | :no-translate[Int64]   | Список товаров в грузовом месте.       |

        **Параметры, вложенные в `items`**
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `id`       | :no-translate[Int64]     | Идентификатор товара в рамках заказа.   |
        | `count`    | :no-translate[Int32]     | Количество единиц товара в грузовом месте.       |

        {% endcut %}

        {% include notitle [limit](../../_auto/method_limits/setOrderShipmentBoxes.md) %}
      operationId: setOrderShipmentBoxes
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Идентификатор заказа.
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: |
          { % note warning "Параметр больше не используется" % }

          Передайте любое число, чтобы получился корректный URL.

          { % endnote % }

          Идентификатор грузового места.
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetOrderShipmentBoxesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetOrderShipmentBoxesResponse"
          description: "Имеет значение только тип ответа. Если ответ `ОК`, количес\
            тво грузомест записано."
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: "Запрос содержит неправильные данные. [Подробнее об ошибке\
            ](../../concepts/error-codes.md#400)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Передача количества грузовых мест в заказе
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        tariff-resource-limits:
          none:
            amount: 10000
            period: hours
            period-duration: 1
          medium:
            amount: 10000
            period: hours
            period-duration: 1
      x-apphost:
        domain: LOGISTICS
        enabled: false
      x-deprecation-config:
        degradation-start-date: 2027-01-18
        shutdown-date: 2027-04-05
        replacement-operation-id: setOrderBoxLayout
  /v2/campaigns/{campaignId}/orders/{orderId}/cancellation/accept:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/acceptOrderCancellation.md) %}

        Подтверждает или отклоняет заявку покупателя на отмену заказа, который передан службе доставки.

        Покупатель может отменить заказ в течение его обработки или доставки. Если заказ еще обрабатывается (статус `PROCESSING`), вам не нужно подтверждать отмену заказа — он будет отменен автоматически.

        Если заказ уже передан службе доставки (статус `DELIVERY` или `PICKUP`) и пользователь отменил его, вы можете предупредить службу об отмене в течение 48 часов.

          * Служба доставки узнала об отмене до передачи заказа покупателю — подтвердите отмену с помощью запроса [PUT v2/campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation.md).
          * Заказ уже доставлен — отклоните отмену с помощью этого же запроса. Тогда у покупателя останется заказ, и деньги за него возвращаться не будут.

        **Как узнать об отмененных заказах:**

          * Передайте параметр `onlyWaitingForCancellationApprove` в запросе [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).
          * В кабинете или через почту — на нее придет уведомление об отмене.
          * Подключите API-уведомления. Маркет отправит вам запрос [POST notification](../../push-notifications/reference/sendNotification.md), когда появится новая заявка на отмену заказа. [{#T}](../../push-notifications/index.md)

        Если в течение 48 часов вы не подтвердите или отклоните отмену, заказ будет отменен автоматически.

        {% include notitle [limit](../../_auto/method_limits/acceptOrderCancellation.md) %}
      operationId: acceptOrderCancellation
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Идентификатор заказа.
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptOrderCancellationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyApiResponse"
          description: Ответ на отмену заказа был успешно передан.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: "Запрос содержит неправильные данные. [Подробнее об ошибке\
            ](../../concepts/error-codes.md#400)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Отмена заказа покупателем
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-restrictions:
      - urbanads
      x-resource-limit-config:
        path: resp
        amount: 500
        period: hours
        tariff-resource-limits:
          none:
            amount: 500
            period: hours
            period-duration: 1
          medium:
            amount: 500
            period: hours
            period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
  /v2/campaigns/{campaignId}/orders/{orderId}/deliverDigitalGoods:
    post:
      description: |
        {% include notitle [access](../../_auto/method_scopes/provideOrderDigitalCodes.md) %}

        Передает ключи цифровых товаров, которые покупатель заказал и оплатил. После выполнения запроса Маркет отправит ему письмо с ключами и инструкциями по активации. Если письмо будет доставлено, Маркет переведет заказ в финальный статус `DELIVERED`.

        {% note tip "После передачи кода покупателю статус заказа изменится не сразу" %}

        Подключите API-уведомления — Маркет отправит вам запрос [POST notification](../../push-notifications/reference/sendNotification.md), когда заказ перейдет в статус `DELIVERED`.

        [{#T}](../../push-notifications/index.md)

        {% endnote %}

        Ключ нужно передать в течение 30 минут после перехода заказа в статус `PROCESSING`.

        Если в один заказ входят несколько ключей, передавайте их все в одном запросе.

        Каждый товар с уникальным `id` передавайте в виде отдельного элемента в массиве `items`, а ключи товара — в массиве `codes`.

        {% cut "Пример" %}

        ```json translate=no
        {
          "items": [
            {
              "id": 1,
              "codes": [
                "code1", "code2", "code3"
              ],
              "slip": "slip",
              "activate_till": "2025-02-18"
            },
            {
              "id": 2,
              "codes": [
                "code4", "code5", "code6"
              ],
              "slip": "slip",
              "activate_till": "2025-02-18"
            }
          ]
        }
        ```
        {% endcut %}

        {% include notitle [limit](../../_auto/method_limits/provideOrderDigitalCodes.md) %}
      operationId: provideOrderDigitalCodes
      parameters:
      - description: |
          Идентификатор кампании (магазина) — технический идентификатор, который представляет ваш магазин в системе Яндекс Маркета при работе через API. Он однозначно связывается с вашим магазином, но предназначен только для автоматизированного взаимодействия.

          Его можно узнать с помощью запроса [GET v2/campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете. Нажмите на иконку вашего аккаунта → **Настройки** и в меню слева выберите **API и модули**:

          * блок **Идентификатор кампании**;
          * вкладка **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не путайте его с:
          - идентификатором магазина, который отображается в личном кабинете продавца;
          - рекламными кампаниями.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: Идентификатор заказа.
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProvideOrderDigitalCodesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyApiResponse"
          description: |
            Пустой ответ.

            {% note warning "Ответ `200` сам по себе не значит, что ключи переданы покупателю" %}

            Если письмо с ключами удалось доставить, Маркет переведет заказ в финальный статус `DELIVERED`.

            Статус заказа можно узнать с помощью метода [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).

            {% endnote %}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiClientDataErrorResponse"
          description: |
            Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponse"
          description: "В запросе не указаны данные для авторизации. [Подробнее об\
            \ ошибке](../../concepts/error-codes.md#401)"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponse"
          description: "Данные для авторизации неверны или доступ к ресурсу запрещ\
            ен. [Подробнее об ошибке](../../concepts/error-codes.md#403)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponse"
          description: "Запрашиваемый ресурс не найден. [Подробнее об ошибке](../../concepts/error-codes.md#404)"
        "420":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiLimitErrorResponse"
          description: "Превышено ограничение на доступ к ресурсу. [Подробнее об о\
            шибке](../../concepts/error-codes.md#420)"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiServerErrorResponse"
          description: "Внутренняя ошибка Маркета. [Подробнее об ошибке](../../concepts/error-codes.md#500)"
      summary: Передача ключей цифровых товаров
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        amount: 100000
        period: hours
        parallel-limit-value: 6
        tariff-resource-limits:
          none:
            amount: 10000
            period: hours
            period-duration: 1
          medium:
            amount: 10000
            period: hours
            period-duration: 1
      x-restrictions:
      - market-yandex-go
      - urbanads
      x-apphost:
        domain: ORDERS
        enabled: false
  /v2/campaigns/{campaignId}/orders/{orderId}/boxes:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/setOrderBoxLayout.md) %}

        {% note tip "Подходит и для DBS" %}

        Запрос предназначен для работы с FBS-заказами, но вы можете использовать его для обработки DBS-заказов, если это удобно.

        {% endnote %}

        Позволяет выполнить три операции:

        * передать Маркету информацию о распределении товаров по коробкам;
        * передать Маркету коды маркировки для товаров;
        * удалить товар из заказа, если его не оказалось на складе.

        Если нужно что-то поправить в переданных данных, просто повторите запрос — это можно делать сколько угодно раз до перевода заказа в статус **Готов к отгрузке**. ⚠️ Если вы меняете раскладку уже после печати и расклейки ярлыков, не забудьте перепечатать их и наклеить заново.

        {% cut "Как передать информацию о распределении товаров" %}

        В этом запросе вам нужно передать Маркету список коробок и указать, какие именно товары лежат в каждой из них. Коробки могут быть двух типов:

        * **Содержащие товары целиком.** Такая коробка может содержать сколько угодно единиц любых товаров.

        * **Содержащие часть товара.** Такие коробки содержат по одной части одного товара. Например, одна содержит внешний блок кондиционера, а другая — внутренний блок.

        ⚠️ Одна коробка не может содержать и товары целиком, и части товаров.

        {% endcut %}

        {% cut "Как передавать коды маркировки и получать статус их проверки" %}

        {% note info "Маркировка товаров в системе [«Честный ЗНАК»](https://честныйзнак.рф/) необязательна для заказов от физических лиц" %}

        Для заказов от бизнеса все еще нужно передавать коды маркировки.

        {% endnote %}

        Если в заказе есть товары, подлежащие маркировке, в запросе нужно передать соответствующие уникальные коды. [Что такое маркировка](https://yandex.ru/support/marketplace/orders/cz.html)

        Принимаются коды следующих типов:

        * Коды в системе [«Честный ЗНАК»](https://честныйзнак.рф/) или [«ASL BELGISI»](https://aslbelgisi.uz) (для продавцов :no-translate[Market Yandex Go]).
        * УИН для ювелирных изделий.
        * РНПТ и ГТД для импортных прослеживаемых товаров.

        Для каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.

        Если товар едет в нескольких коробках, код маркировки нужно передать для каждой из них.

        {% note warning "Если вы работаете по модели FBS, EXPRESS" %}

        Для заказов, в которых есть ювелирные изделия или товары с маркировкой в системе :no-translate[«Честный ЗНАК»], перевод в статус `READY_TO_SHIP` становится доступен, только когда:

        1. Вы передадите Маркету :no-translate[УИНы] по каждому ювелирному изделию в заказе и коды в системе :no-translate[«Честный ЗНАК»] по всем товарам в заказе, для которых обязательна эта маркировка.
        2. Все коды маркировки успешно пройдут проверку. [Как получить статусы проверки](../../reference/orders/getOrderIdentifiersStatus.md)

        {% endnote %}

        {% endcut %}

        {% cut "Как удалить товар из заказа" %}

        Чтобы удалить товар из заказа:

        1. Добавьте в запрос `allowRemove: true`.
        2. Передайте распределение по коробкам без товара, который нужно удалить.

        {% note warning "Удаление нельзя отменить" %}

        Эта операция необратима: покупатель сразу получит уведомление, а состав заказа изменится.

        {% endnote %}

        Чтобы удалить позицию целиком, не передавайте соответствующий `OrderBoxLayoutItemDTO`. Чтобы уменьшить количество товара, передайте уменьшенное значение в поле `fullCount`.

        Нельзя удалить или уменьшить количество товара, если он:

        * добавлен по акции;
        * составляет 99% стоимости заказа;
        * единственный товар в заказе.

        Если вы не можете отгрузить такой товар, отмените заказ. Для этого отправьте запрос методом [PUT v2/campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) и передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.

        {% endcut %}

        {% note info "Увеличить заказ нельзя" %}

        С помощью запроса нельзя увеличить количество одинаковых товаров, добавить новые товары в заказ или заменить один товар другим.

        {% endnote %}

        ## Примеры

        {% cut "Товар умещается в коробку" %}

        Вот как будет выглядеть запрос, если в одной коробке едут:

          * три единицы одного товара, требующего маркировки;
          * одна единица другого товара, не требущего маркировки.

          ```json translate=no
          {
              "boxes": [
                  {
                      "items": [
                          {
                              "id": 123456,
                              "fullCount": 3,
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  },
                                  {
                                      "cis": "010304109478gftJ14545762!\u001dhGt264"
                                  },
                                  {
                                      "cis": "010304109478fRs28323ks23!\u001dhet201"
                                  }
                              ]
                          },
                          {
                              "id": 654321,
                              "fullCount": 1
                          }
                      ]
                  }
              ]
          }
          ```

        {% endcut %}

        {% cut "Товар едет в разных коробках" %}

        Вот как будет выглядеть запрос, если товар едет в двух коробках:

          ```json translate=no
          {
              "boxes": [
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 1,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 2,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  }
              ]
          }
          ```

        {% endcut %}

        {% cut "Одинаковые товары, где каждый едет в нескольких коробках" %}

        Вот как будет выглядеть запрос, если каждый из двух одинаковых товаров едет в двух коробках:

          ```json translate=no
          {
              "boxes": [
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 1,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 2,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
[...]
