openapi: 3.0.3
info:
  description: |
    API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.

    В числе возможностей интеграции:

    * управление каталогом товаров и витриной,

    * обработка заказов,

    * изменение настроек магазина,

    * получение отчетов.
  license:
    name: BSD 3-Clause
    url: https://opensource.org/license/bsd-3-clause/
  title: Партнерский API Маркета
  version: LATEST
externalDocs:
  description: Документация API
  url: https://yandex.ru/dev/market/partner-api/doc/
servers:
- url: https://api.partner.market.yandex.ru
security:
- ApiKey: []
- OAuth:
  - market:partner-api
paths:
  /businesses/{businessId}/settings:
    post:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getBusinessSettings.md) %}

        Возвращает информацию о настройках кабинета, идентификатор которого указан в запросе.
        |**⚙️ Лимит:** 1 000 запросов в час|
        |-|
      operationId: getBusinessSettings
      parameters:
      - description: |
          Идентификатор кабинета. Чтобы его узнать, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: businessId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessSettingsResponse'
          description: Настройки кабинета.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Настройки кабинета
      tags:
      - businesses
      - dbs
      - fbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
  /campaigns:
    get:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getCampaigns.md) %}

        **Для Api-Key-токена:** возвращает список магазинов в кабинете, для которого выдан токен. Нельзя получить список только подагентских магазинов.

        **Для OAuth-токена:** возвращает список магазинов, к которым имеет доступ пользователь — владелец авторизационного токена, использованного в запросе. Для агентских пользователей список состоит из подагентских магазинов.

        |**⚙️ Лимит:** 1 000 запросов в час|
        |-|
      operationId: getCampaigns
      parameters:
      - description: |
          {% note warning "Если в методе есть `page_token`" %}

          Используйте его вместо параметра `page`.

          [Подробнее о типах пагинации и их использовании](../../concepts/pagination.md)

          {% endnote %}

          Номер страницы результатов.

          Используется вместе с параметром `page_size`.

          `page_number` игнорируется, если задан `page_token` или `limit`.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 10000
          type: integer
      - description: |
          Размер страницы.

          Используется вместе с параметром `page_number`.

          `page_size` игнорируется, если задан `page_token` или `limit`.
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignsResponse'
          description: Магазины пользователя.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Список магазинов пользователя
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
  /campaigns/{campaignId}:
    get:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getCampaign.md) %}

        Возвращает информацию о магазине.
        |**⚙️ Лимит:** 1 000 запросов в час|
        |-|
      operationId: getCampaign
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignResponse'
          description: Информация о магазине.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о магазине
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
  /campaigns/{campaignId}/settings:
    get:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getCampaignSettings.md) %}

        Возвращает информацию о настройках магазина, идентификатор которого указан в запросе.
        |**⚙️ Лимит:** 1 000 запросов в час|
        |-|
      operationId: getCampaignSettings
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignSettingsResponse'
          description: Настройки магазина.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Настройки магазина
      tags:
      - campaigns
      - dbs
      - fbs
      - express
      - fby
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
  /campaigns/{campaignId}/region:
    get:
      deprecated: true
      description: |
        {% include notitle [access](../../_auto/method_scopes/getCampaignRegion.md) %}

        {% note warning "Какой метод использовать вместо устаревшего" %}

        [GET campaigns/{campaignId}/settings](../../reference/campaigns/getCampaignSettings.md)

        {% endnote %}

        Возвращает регион, в котором находится магазин.
        |**⚙️ Лимит:** 5 000 запросов в час|
        |-|
      operationId: getCampaignRegion
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignRegionResponse'
          description: |
            Возвращает регион, в котором находится магазин.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Регион магазина
      tags:
      - campaigns
      - dbs
      - fby
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
  /campaigns/{campaignId}/orders/{orderId}:
    get:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getOrder.md) %}

        Возвращает информацию о заказе.

        {% note tip "Вы также можете настроить API-уведомления" %}

        Маркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или изменится его статус. А полную информацию можно получить с помощью этого метода или [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md).

        [{#T}](../../push-notifications/index.md)

        {% endnote %}

        Получить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: getOrder
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
          description: Информация о заказе.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация об одном заказе
      tags:
      - orders
      - fby
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - communication
      - finance-and-accounting
  /campaigns/{campaignId}/orders:
    get:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getOrders.md) %}

        Возвращает информацию о заказах. Запрос можно использовать, чтобы узнать, нет ли новых заказов.

        {% note tip "Вы также можете настроить API-уведомления" %}

        Маркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или изменится его статус. А полную информацию можно получить с помощью этого метода или [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md).

        [{#T}](../../push-notifications/index.md)

        {% endnote %}

        Доступна фильтрация по нескольким характеристикам заказов:

        * дате оформления;

        * статусу;

        * идентификаторам заказов;

        * этапу обработки или причине отмены;

        * типу (настоящий или тестовый);

        * дате отгрузки в службу доставки;

        * дате и времени обновления заказа.

        Информация о заказах, доставленных или отмененных больше 30 дней назад, не возвращается. Ее можно получить с помощью запроса информации об отдельном заказе [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md) (если у вас есть идентификатор заказа) или запроса отчета по заказам [POST campaigns/{campaignId}/stats/orders](../../reference/stats/getOrdersStats.md).

        Максимальный диапазон дат за один запрос к ресурсу — 30 дней.

        Результаты возвращаются постранично. Для навигации по страницам используйте параметры `page_token` и `limit`.

        Получить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/orders/getOrderBuyerInfo.md).

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: getOrders
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: |
          Фильтрация заказов по идентификаторам.
          <br><br>
          ⚠️ Не используйте это поле одновременно с другими фильтрами. Если вы хотите воспользоваться ими, оставьте поле пустым.
        in: query
        name: orderIds
        required: false
        schema:
          items:
            format: int64
            maxItems: 50
            minItems: 1
            type: integer
          type: array
      - description: |
          Статус заказа:

          * `CANCELLED` — заказ отменен.

          * `DELIVERED` — заказ получен покупателем.

          * `DELIVERY` — заказ передан в службу доставки.

          * `PICKUP` — заказ доставлен в пункт самовывоза.

          * `PROCESSING` — заказ находится в обработке.

          * `UNPAID` — заказ оформлен, но еще не оплачен (если выбрана оплата при оформлении).

          Также могут возвращаться другие значения. Обрабатывать их не требуется.
        in: query
        name: status
        required: false
        schema:
          items:
            $ref: '#/components/schemas/OrderStatusType'
          type: array
          uniqueItems: true
      - description: |
          Этап обработки заказа (если он имеет статус `PROCESSING`) или причина отмены заказа (если он имеет статус `CANCELLED`).

          Возможные значения для заказа в статусе `PROCESSING`:

          * `STARTED` — заказ подтвержден, его можно начать обрабатывать.
          * `READY_TO_SHIP` — заказ собран и готов к отправке.
          * `SHIPPED` — заказ передан службе доставки.

          Возможные значения для заказа в статусе `CANCELLED`:

          * `RESERVATION_EXPIRED` — покупатель не завершил оформление зарезервированного заказа в течение 10 минут.

          * `USER_NOT_PAID` — покупатель не оплатил заказ (для типа оплаты `PREPAID`) в течение 30 минут.

          * `USER_UNREACHABLE` — не удалось связаться с покупателем. Для отмены с этой причиной необходимо выполнить условия:

            * не менее 3 звонков с 8 до 21 в часовом поясе покупателя;
            * перерыв между первым и третьим звонком не менее 90 минут;
            * соединение не короче 5 секунд.

            Если хотя бы одно из этих условий не выполнено (кроме случая, когда номер недоступен), отменить заказ не получится. Вернется ответ с кодом ошибки 400

          * `USER_CHANGED_MIND` — покупатель отменил заказ по личным причинам.

          * `USER_REFUSED_DELIVERY` — покупателя не устроили условия доставки.

          * `USER_REFUSED_PRODUCT` — покупателю не подошел товар.

          * `SHOP_FAILED` — магазин не может выполнить заказ.

          * `USER_REFUSED_QUALITY` — покупателя не устроило качество товара.

          * `REPLACING_ORDER` — покупатель решил заменить товар другим по собственной инициативе.

          * `PROCESSING_EXPIRED` — значение более не используется.

          * `PICKUP_EXPIRED` — закончился срок хранения заказа в ПВЗ.

          * `DELIVERY_SERVICE_UNDELIVERED` — служба доставки не смогла доставить заказ.

          * `CANCELLED_COURIER_NOT_FOUND` — не удалось найти курьера.

          * `USER_WANTS_TO_CHANGE_DELIVERY_DATE` — покупатель хочет получить заказ в другой день.

          * `RESERVATION_FAILED` — Маркет не может продолжить дальнейшую обработку заказа.

          Также могут возвращаться другие значения. Обрабатывать их не требуется.
        in: query
        name: substatus
        required: false
        schema:
          items:
            $ref: '#/components/schemas/OrderSubstatusType'
          type: array
          uniqueItems: true
      - description: |
          Начальная дата для фильтрации заказов по дате оформления.

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной и конечной датой (параметр `toDate`) должно быть не больше 30 дней.

          Значение по умолчанию: 30 дней назад от текущей даты.
        in: query
        name: fromDate
        required: false
        schema:
          format: date
          type: string
      - description: |
          Конечная дата для фильтрации заказов по дате оформления.

          Показываются заказы, созданные до 00:00 указанного дня.

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной (параметр `fromDate`) и конечной датой должно быть не больше 30 дней.

          Значение по умолчанию: текущая дата.

          Если промежуток времени между `toDate` и `fromDate` меньше суток, то `toDate` равен `fromDate` + сутки.
        in: query
        name: toDate
        required: false
        schema:
          format: date
          type: string
      - description: |
          Начальная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр `shipmentDate`).

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной и конечной датой (параметр `supplierShipmentDateTo`) должно быть не больше 30 дней.

          Начальная дата включается в интервал для фильтрации.
        in: query
        name: supplierShipmentDateFrom
        required: false
        schema:
          format: date
          type: string
      - description: |
          Конечная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр `shipmentDate`).

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной (параметр `supplierShipmentDateFrom`) и конечной датой должно быть не больше 30 дней.

          Конечная дата не включается в интервал для фильтрации.

          Если промежуток времени между `supplierShipmentDateTo` и `supplierShipmentDateFrom` меньше суток, то `supplierShipmentDateTo` равен `supplierShipmentDateFrom` + сутки.
        in: query
        name: supplierShipmentDateTo
        required: false
        schema:
          format: date
          type: string
      - description: |
          Начальная дата для фильтрации заказов по дате и времени обновления (параметр `updatedAt`).

          Формат даты: ISO 8601 со смещением относительно UTC. Например, `2017-11-21T00:42:42+03:00`.

          Между начальной и конечной датой (параметр `updatedAtTo`) должно быть не больше 30 дней.

          Начальная дата включается в интервал для фильтрации.
        in: query
        name: updatedAtFrom
        required: false
        schema:
          format: date-time
          type: string
      - description: |
          Конечная дата для фильтрации заказов по дате и времени обновления (параметр `updatedAt`).

          Формат даты: ISO 8601 со смещением относительно UTC. Например, `2017-11-21T00:42:42+03:00`.

          Между начальной (параметр `updatedAtFrom`) и конечной датой должно быть не больше 30 дней.

          Конечная дата не включается в интервал для фильтрации.
        in: query
        name: updatedAtTo
        required: false
        schema:
          format: date-time
          type: string
      - description: Способ отгрузки
        in: query
        name: dispatchType
        required: false
        schema:
          $ref: '#/components/schemas/OrderDeliveryDispatchType'
      - description: |
          Фильтрация заказов по типам:

          * `false` — настоящий заказ покупателя.

          * `true` — [тестовый](../../concepts/sandbox.md) заказ Маркета.
        in: query
        name: fake
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          Нужно ли вернуть только те заказы, в составе которых есть хотя бы один товар с кодом идентификации в системе [«Честный ЗНАК»](https://честныйзнак.рф/) или [«ASL BELGISI»](https://aslbelgisi.uz) (для продавцов Market Yandex Go):

          * `true` — да.

          * `false` — нет.

          Такие коды присваиваются товарам, которые подлежат маркировке и относятся к определенным категориям.
        in: query
        name: hasCis
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          **Только для модели DBS**

          Фильтрация заказов по наличию запросов покупателей на отмену.

          При значение `true` возвращаются только заказы, которые находятся в статусе `DELIVERY` или `PICKUP` и которые пользователи решили отменить.

          Чтобы подтвердить или отклонить отмену, отправьте запрос [PUT campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation).
        in: query
        name: onlyWaitingForCancellationApprove
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          Фильтрация заказов с долгой доставкой (31-60 дней) по подтвержденной дате доставки:

          * `true` — возвращаются только заказы с неподтвержденной датой доставки.
          * `false` — фильтрация не применяется.
        in: query
        name: onlyEstimatedDelivery
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          Фильтрация заказов по типу покупателя.
        in: query
        name: buyerType
        required: false
        schema:
          $ref: '#/components/schemas/OrderBuyerType'
      - description: |
          {% note warning "Если в методе есть `page_token`" %}

          Используйте его вместо параметра `page`.

          [Подробнее о типах пагинации и их использовании](../../concepts/pagination.md)

          {% endnote %}

          Номер страницы результатов.

          Используется вместе с параметром `page_size`.

          `page_number` игнорируется, если задан `page_token` или `limit`.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 10000
          type: integer
      - description: |
          Размер страницы.

          Используется вместе с параметром `page_number`.

          `page_size` игнорируется, если задан `page_token` или `limit`.
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается первая страница.

          Рекомендуем передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token` и в запросе есть параметры `page_number` и `page_size`, они игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество значений на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
          description: Информация о заказах.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о нескольких заказах
      tags:
      - orders
      - fbs
      - dbs
      - fby
      - express
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - communication
      - finance-and-accounting
  /campaigns/{campaignId}/orders/{orderId}/identifiers:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/provideOrderItemIdentifiers.md) %}

        {% note warning "Если вы работаете по модели FBS" %}

        Используйте метод [PUT campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).

        {% endnote %}

        Передает Маркету коды маркировки для единиц товара в указанном заказе.

        Маркировка товаров в системе [«Честный ЗНАК»](https://честныйзнак.рф/) **необязательна** для заказов от физических лиц, но **обязательна** для заказов от бизнеса.

        Принимаются коды следующих типов:

        * Коды в системе [«Честный ЗНАК»](https://честныйзнак.рф/) или [«ASL BELGISI»](https://aslbelgisi.uz) (для продавцов Market Yandex Go).
        * УИН для ювелирных изделий.
        * РНПТ и ГТД для импортных прослеживаемых товаров.

        {% note warning "Прежде чем работать с этим методом" %}

        Обязательно прочтите [статью о работе с маркируемыми товарами](https://yandex.ru/support/marketplace/orders/cz.html).

        {% endnote %}

        Для каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: provideOrderItemIdentifiers
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideOrderItemIdentifiersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvideOrderItemIdentifiersResponse'
          description: "Ответ `200` обозначает, что коды успешно записались. Ответ\
            \ содержит краткие сведения о промаркированных товарах."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача кодов маркировки единиц товара
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
  /campaigns/{campaignId}/orders/{orderId}/items:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/updateOrderItems.md) %}

        {% note warning "Если вы работаете по модели FBS" %}

        Используйте метод [PUT campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).

        {% endnote %}

        Удаляет товары из заказа, если позволяет выбранная служба доставки, в случаях:

        * покупатель уменьшил количество товара;
        * магазин не может поставить все товары в заказе.

        Для этого заказ должен находится в статусе `"status": "PROCESSING"` этапа обработки `"substatus": "STARTED"`. После передачи статуса `"substatus": "READY_TO_SHIP"` изменить состав невозможно.

        Если одинаковых товаров несколько, для уменьшения количества передайте обновленное значение в атрибуте `count` параметра `item`.

        Чтобы полностью удалить товар из заказа:

        * передайте значение `0`; или
        * не передавайте параметр `item`.

        Нельзя удалить или уменьшить количество товара, если он:

        * добавлен по акции;
        * составляет 99% стоимости заказа;
        * единственный товар в заказе.

        Если необходимо удалить такой товар, отмените заказ. Для этого отправьте запрос методом [PUT campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) и передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.

        {% note info "Увеличить заказ нельзя" %}

        С помощью запроса нельзя увеличить количество одинаковых товаров, добавить новые товары в заказ или заменить один товар другим.

        {% endnote %}

        **Возврат денег покупателю**

        Если покупатель оплатил товар при оформлении, Маркет вернет ему деньги за удаленные из заказа товары в течение двух дней:

        * при оплате банковской картой — с момента, когда магазин переведет заказ в статус `SHIPPED`;

        * при оплате через Apple Pay или Google Pay — с момента, когда магазин удалит товар из заказа.

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: updateOrderItems
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderItemRequest'
        required: true
      responses:
        "200":
          description: Маркет успешно обработал ваш запрос. Выходные данные не ожидаются.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Удаление товара из заказа или уменьшение числа единиц
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
  /campaigns/{campaignId}/orders/{orderId}/status:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/updateOrderStatus.md) %}

        Изменяет статус заказа. Возможные изменения статусов:

        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.
        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.
        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: updateOrderStatus
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderStatusResponse'
          description: В случае успешного изменения статуса заказа возвращается обновленная
            информация о заказе.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Изменение статуса одного заказа
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
  /campaigns/{campaignId}/orders/status-update:
    post:
      description: |
        {% include notitle [access](../../_auto/method_scopes/updateOrderStatuses.md) %}

        Изменяет статусы нескольких заказов.

        Возможные изменения статусов:

        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"`и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.
        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.
        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        |**⚙️ Лимит:** 100 000 заказов в час|
        |-|
      operationId: updateOrderStatuses
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderStatusesResponse'
          description: Возвращается информация об обновленных статусах заказов.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Изменение статусов нескольких заказов
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
  /campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/setOrderShipmentBoxes.md) %}

        {% note warning "Если вы работаете по модели FBS" %}

        Используйте метод [PUT campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).

        {% endnote %}

        Отгружаемый Маркету заказ может не влезть в одну коробку или упаковку — в этом случае получается, что он занимает несколько грузовых мест.

        Количество грузовых мест нужно обязательно передавать Маркету, если оно не равно 1. Это делается перед переводом его в статус **Готов к отгрузке**. Подробно о том, что в какой момент нужно передавать, рассказано в [пошаговой инструкции](../../step-by-step/fbs.md).

        Метод устроен немного нестандартно: количество задается длиной массива пустых объектов.

        Раньше метод требовал передачи большего количества данных. Запросы, оформленные по старому образцу, работают, но лучше делать по-новому.

        {% cut "Как было раньше" %}

        Структура тела PUT-запроса:

        ```text translate=no
        {
          "boxes":
          [
            {
              "fulfilmentId": "{string}",
              "weight": {int64},
              "width": {int64},
              "height": {int64},
              "depth": {int64},
              "items":
              [
                {
                  "id": {int64},
                  "count": {int32}
                },
                ...
              ]
            },
            ...
          ]
        }
        ```
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `boxes`       |           | Список грузовых мест.       |

        **Параметры, вложенные в `boxes`**
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `fulfilmentId`       |  String   | Идентификатор грузового места в информационной системе магазина. Сформируйте идентификатор по шаблону: `номер заказа на Маркете-номер грузового места`. Например, `7206821‑1, 7206821‑2` и т. д. |
        | `weight`       | Int64        | Масса брутто грузового места (суммарная масса упаковки и содержимого) в граммах. |
        | `width`       | Int64   | Ширина грузового места в сантиметрах.       |
        | `height`       | Int64   | Высота грузового места в сантиметрах.       |
        | `depth`       | Int64   | Глубина грузового места в сантиметрах.        |
        | `items`       | Int64   | Список товаров в грузовом месте.       |

        **Параметры, вложенные в `items`**
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `id`       | Int64     | Идентификатор товара в рамках заказа.   |
        | `count`    | Int32     | Количество единиц товара в грузовом месте.       |

        {% endcut %}

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: setOrderShipmentBoxes
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Параметр больше не используется. Вставьте любое число — просто чтобы получился корректный URL.
        in: path
        name: shipmentId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderShipmentBoxesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetOrderShipmentBoxesResponse'
          description: "Имеет значение только тип ответа. Если ответ `ОК`, количес\
            тво грузомест записано."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача количества грузовых мест в заказе
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
  /campaigns/{campaignId}/orders/{orderId}/cancellation/accept:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/acceptOrderCancellation.md) %}

        Подтверждает или отклоняет заявку покупателя на отмену заказа, который передан службе доставки.

        Покупатель может отменить заказ в течение его обработки или доставки. Если заказ еще обрабатывается (статус `PROCESSING`), вам не нужно подтверждать отмену заказа — он будет отменен автоматически.

        Если заказ уже передан службе доставки (статус `DELIVERY` или `PICKUP`) и пользователь отменил его, вы можете предупредить службу об отмене в течение 48 часов.

          * Служба доставки узнала об отмене до передачи заказа покупателю — подтвердите отмену с помощью запроса [PUT campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation.md).
          * Заказ уже доставлен — отклоните отмену с помощью этого же запроса. Тогда у покупателя останется заказ, и деньги за него возвращаться не будут.

        **Как узнать об отмененных заказах:**

          * Отправьте запрос [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md). В его URL добавьте входной параметр `onlyWaitingForCancellationApprove=true`.
          * В кабинете или через почту — на нее придет уведомление об отмене.
          * Подключите API-уведомления. Маркет отправит вам запрос [POST notification](../../push-notifications/reference/sendNotification.md), когда появится новая заявка на отмену заказа. [{#T}](../../push-notifications/index.md)

        Если в течение 48 часов вы не подтвердите или отклоните отмену, заказ будет отменен автоматически.

        |**⚙️ Лимит:** 500 запросов в час|
        |-|
      operationId: acceptOrderCancellation
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptOrderCancellationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Ответ на отмену заказа был успешно передан.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Отмена заказа покупателем
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
  /campaigns/{campaignId}/orders/{orderId}/deliverDigitalGoods:
    post:
      description: |
        {% include notitle [access](../../_auto/method_scopes/provideOrderDigitalCodes.md) %}

        Передает ключи цифровых товаров, которые покупатель заказал и оплатил. После выполнения запроса Маркет отправит ему письмо с ключами и инструкциями по активации. Если письмо будет доставлено, Маркет переведет заказ в финальный статус `DELIVERED`.

        {% note tip "После передачи кода покупателю статус заказа изменится не сразу" %}

        Подключите API-уведомления — Маркет отправит вам запрос [POST notification](../../push-notifications/reference/sendNotification.md), когда заказ перейдет в статус `DELIVERED`.

        [{#T}](../../push-notifications/index.md)

        {% endnote %}

        Ключ нужно передать в течение 30 минут после перехода заказа в статус `PROCESSING`.

        Если в один заказ входят несколько ключей, передавайте их все в одном запросе.

        Каждый товар с уникальным `id` передавайте в виде отдельного элемента в массиве `items`, а ключи товара — в массиве `codes`.

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: provideOrderDigitalCodes
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideOrderDigitalCodesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: |
            Пустой ответ.

            {% note warning "Ответ 200 сам по себе не значит, что ключи переданы покупателю" %}

            Если письмо с ключами удалось доставить, Маркет переведет заказ в финальный статус `DELIVERED`.

            Статус заказа можно узнать с помощью метода [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md) или [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md).

            {% endnote %}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача ключей цифровых товаров
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-restrictions:
      - market-yandex-go
  /campaigns/{campaignId}/orders/{orderId}/boxes:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/setOrderBoxLayout.md) %}

        {% note tip "Подходит и для DBS" %}

        Запрос предназначен для работы с FBS-заказами, но вы можете использовать его для обработки DBS-заказов, если это удобно.

        {% endnote %}

        Позволяет выполнить три операции:

        * передать Маркету информацию о распределении товаров по коробкам;
        * передать Маркету коды маркировки для товаров;
        * удалить товар из заказа, если его не оказалось на складе.

        Если нужно что-то поправить в переданных данных, просто повторите запрос — это можно делать сколько угодно раз до перевода заказа в статус **Готов к отгрузке**. ⚠️ Если вы меняете раскладку уже после печати и расклейки ярлыков, не забудьте перепечатать их и наклеить заново.

        ## Как передать информацию о распределении товаров

        В этом запросе вам нужно передать Маркету список коробок и указать, какие именно товары лежат в каждой из них. Коробки могут быть двух типов:

        * **Содержащие товары целиком.** Такая коробка может содержать сколько угодно единиц любых товаров.

        * **Содержащие часть товара.** Такие коробки содержат по одной части одного товара. Например, одна содержит внешний блок кондиционера, а другая — внутренний блок.

        ⚠️ Одна коробка не может содержать и товары целиком, и части товаров.

        ## Как передавать коды маркировки

        {% note info "Маркировка товаров в системе [«Честный ЗНАК»](https://честныйзнак.рф/) необязательна для заказов от физических лиц" %}

        Для заказов от бизнеса все еще нужно передавать коды маркировки.

        {% endnote %}

        Если в заказе есть товары, подлежащие маркировке, в запросе нужно передать соответствующие уникальные коды. [Что такое маркировка?](https://yandex.ru/support/marketplace/orders/cz.html)

        Принимаются коды следующих типов:

        * Коды в системе [«Честный ЗНАК»](https://честныйзнак.рф/) или [«ASL BELGISI»](https://aslbelgisi.uz) (для продавцов Market Yandex Go).
        * УИН для ювелирных изделий.
        * РНПТ и ГТД для импортных прослеживаемых товаров.

        Для каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.

        Если товар едет в нескольких коробках, код маркировки нужно передать для каждой из них.

        {% note warning "Для заказов, в которых есть ювелирные изделия" %}

        Заказ перейдет в статус `READY_TO_SHIP`, только когда:

        1. Вы передадите Маркету УИНы по каждому ювелирному изделию в заказе.
        2. Все УИНы успешно пройдут проверку. [Как получить статусы проверки УИНов](../../reference/orders/getOrderIdentifiersStatus.md)

        {% endnote %}

        ## Как удалить товар из заказа

        Чтобы удалить товар из заказа:

        1. Добавьте в запрос `allowRemove: true`.
        2. Передайте распределение по коробкам без товара, который нужно удалить.

        {% note warning "Удаление нельзя отменить" %}

        Эта операция необратима: покупатель сразу получит уведомление, а состав заказа изменится.

        {% endnote %}

        Чтобы удалить позицию целиком, не передавайте соответствующий `OrderBoxLayoutItemDTO`. Чтобы уменьшить количество товара, передайте уменьшенное значение в поле `fullCount`.

        Нельзя удалить или уменьшить количество товара, если он:

        * добавлен по акции;
        * составляет 99% стоимости заказа;
        * единственный товар в заказе.

        Если вы не можете отгрузить такой товар, отмените заказ. Для этого отправьте запрос методом [PUT campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) и передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.

        {% note info "Увеличить заказ нельзя" %}

        С помощью запроса нельзя увеличить количество одинаковых товаров, добавить новые товары в заказ или заменить один товар другим.

        {% endnote %}

        ## Примеры

        {% cut "Товар умещается в коробку" %}

        Вот как будет выглядеть запрос, если в одной коробке едут:

          * три единицы одного товара, требующего маркировки;
          * одна единица другого товара, не требущего маркировки.

          ```json translate=no
          {
              "boxes": [
                  {
                      "items": [
                          {
                              "id": 123456,
                              "fullCount": 3,
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  },
                                  {
                                      "cis": "010304109478gftJ14545762!\u001dhGt264"
                                  },
                                  {
                                      "cis": "010304109478fRs28323ks23!\u001dhet201"
                                  }
                              ]
                          },
                          {
                              "id": 654321,
                              "fullCount": 1
                          }
                      ]
                  }
              ]
          }
          ```

        {% endcut %}

        {% cut "Товар едет в разных коробках" %}

        Вот как будет выглядеть запрос, если товар едет в двух коробках:

          ```json translate=no
          {
              "boxes": [
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 1,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 2,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  }
              ]
          }
          ```

        {% endcut %}

        {% cut "Одинаковые товары, где каждый едет в нескольких коробках" %}

        Вот как будет выглядеть запрос, если каждый из двух одинаковых товаров едет в двух коробках:

          ```json translate=no
          {
              "boxes": [
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 1,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 2,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 1,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  },
                  {
                      "items": [
                          {
                              "id": 123456,
                              "partialCount": {
                                  "current": 2,
                                  "total": 2
                              },
                              "instances": [
                                  {
                                      "cis": "01030410947874432155Qbag!\u001d93Zjqw"
                                  }
                              ]
                          }
                      ]
                  }
              ]
          }
          ```

        {% endcut %}

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: setOrderBoxLayout
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderBoxLayoutRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetOrderBoxLayoutResponse'
          description: |
            В ответ придет переданная раскладка с идентификаторами коробок — они понадобятся для запроса ярлыков.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Подготовка заказа
      tags:
      - orders
      - fbs
      - express
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
  /campaigns/{campaignId}/orders/{orderId}/external-id:
    post:
      description: |
        {% include notitle [access](../../_auto/method_scopes/updateExternalOrderId.md) %}

        При первом использовании запроса передает Маркету идентификатор заказа в системе магазина. При повторном — изменяет его в системе Маркета.

        Передать данные можно до перехода заказа в статус `PROCESSING` с подстатусом `READY_TO_SHIP`.

        |**⚙️ Лимит:** 10 000 запросов в час|
        |-|
      operationId: updateExternalOrderId
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExternalOrderIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Дополнительный идентификатор заказа успешно передан или изменен.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача или изменение дополнительного идентификатора заказа
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
  /campaigns/{campaignId}/orders/{orderId}/identifiers/status:
    post:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getOrderIdentifiersStatus.md) %}

        Возвращает статусы проверки [УИНов](*uin) в заказе.

        Заказ, в котором есть ювелирные изделия, перейдет в статус `READY_TO_SHIP`, только когда:

        1. Вы передадите Маркету УИНы по каждому ювелирному изделию в заказе — метод [PUT campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).
        2. Все УИНы успешно пройдут проверку.

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: getOrderIdentifiersStatus
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderIdentifiersStatusResponse'
          description: Информация по проверке УИНов.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Статусы проверки УИНов
      tags:
      - orders
      - fbs
      - express
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
  /campaigns/{campaignId}/orders/{orderId}/delivery/date:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/setOrderDeliveryDate.md) %}

        Метод изменяет дату доставки заказа в статусе `PROCESSING` или `DELIVERY`. Для заказов с другими статусами дату доставки изменить нельзя.

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: setOrderDeliveryDate
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderDeliveryDateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Успешное изменение даты доставки.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Изменение даты доставки заказа
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
  /campaigns/{campaignId}/orders/{orderId}/delivery/track:
    post:
      description: |
        {% include notitle [access](../../_auto/method_scopes/setOrderDeliveryTrackCode.md) %}

        Передает Маркету трек‑номер, по которому покупатель может отследить посылку со своим заказом через службу доставки. Если покупатели смогут узнать, на каком этапе доставки находятся их заказы, доверие покупателей к вашему магазину может возрасти.

        Передать трек‑номер можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY` или `PICKUP`.

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: setOrderDeliveryTrackCode
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderDeliveryTrackCodeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Трек‑номер посылки и идентификатор службы доставки были успешно
            переданы.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача трек‑номера посылки
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
  /campaigns/{campaignId}/orders/{orderId}/buyer:
    get:
      description: |
        {% include notitle [access](../../_auto/method_scopes/getOrderBuyerInfo.md) %}

        Возвращает информацию о покупателе по идентификатору заказа.

        {% note info "Как получить информацию о покупателе, который является юридическим лицом" %}

        Воспользуйтесь запросом [POST campaigns/{campaignId}/orders/{orderId}/business-buyer](../../reference/order-business-information/getOrderBusinessBuyerInfo.md).

        {% endnote %}

        Получить данные можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY` или `PICKUP`.

        |**⚙️ Лимит:** 3 000 запросов в час|
        |-|
      operationId: getOrderBuyerInfo
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
          description: Информация о покупателе.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о покупателе — физическом лице
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
  /campaigns/{campaignId}/orders/{orderId}/verifyEac:
    put:
      description: |
        {% include notitle [access](../../_auto/method_scopes/verifyOrderEac.md) %}

        Отправляет Маркету код подтверждения для его проверки.

        **Если у магазина настроена работа с кодами подтверждения:**

          В запросах [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md), [GET campaigns/{campaignId}/orders](../../reference/orders/getOrders.md), [PUT campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md) в параметре `delivery`, вложенном в `order`, возвращается параметр `eacType` с типом `Enum` — тип кода подтверждения для передачи заказа.

          Возможные значения:

          * `MERCHANT_TO_COURIER` (временно не возвращается) — продавец передает код курьеру для получения невыкупа;
          * `COURIER_TO_MERCHANT` — курьер передает код продавцу для получения заказа.

          Параметр `eacType` возвращается при статусах заказа `COURIER_FOUND`, `COURIER_ARRIVED_TO_SENDER` и `DELIVERY_SERVICE_UNDELIVERED`. Если заказ в других статусах, параметр может отсутствовать.

        |**⚙️ Лимит:** 100 000 запросов в час|
        |-|
      operationId: verifyOrderEac
      parameters:
      - description: |
          Идентификатор кампании.

          Его можно узнать с помощью запроса [GET campaigns](../../reference/campaigns/getCampaigns.md) или найти в кабинете продавца на Маркете — нажмите на название своего бизнеса и перейдите на страницу:

            * **Модули и API** → блок **Передача данных Маркету**.
            * **Лог запросов** → выпадающий список в блоке **Показывать логи**.

          ⚠️ Не передавайте вместо него идентификатор магазина, который указан в кабинете продавца на Маркете рядом с названием магазина и в некоторых отчетах.
        in: path
[...]
